
    
       * {
            margin:0;
            padding:0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;

        }
        body{
            background: whitesmoke;
            color: darkslategray;
            
        }

        nav{
            background-color: midnightblue;
            display: flex;
            justify-content: space-between;
            color: white;
            align-items: center;
            position: sticky;
            top: 0;
            padding: 15px 20px;
        }
        nav ul li  a {
            color: white;
            text-decoration: none;
            transition: 0.3s;
          
           
        }
        nav ul li   :hover{
            color :deepskyblue;

        }
        nav ul li :active{
           color: red;
        }

        nav ul {
            display: flex;
            gap : 20px;
            list-style: none;
            
        }
        nav h2 {
            color:deepskyblue;
        }
        .home{
            background:linear-gradient(to right ,midnightblue,darkslateblue);
            height: 100vh;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            
        }
        .home h1 span{
            color:deepskyblue;
        }
        .home p {
            margin-bottom: 15px;
        }
        .home h1 {
            margin-bottom: 10px;
        }
        .btn{
            color: white;
            text-decoration: none;
            display: inline-block;
            background: deepskyblue;
            padding: 12px 18px;
            border-radius: 10px;
            font-size: 15px;
            margin-left: 65px;
            transition: 0.3s;
           
           
           
            
        }
        .btn:hover{
            background: dodgerblue;
        }
        .btn:active{
            background: red;
        }


        .section-title{
            text-align: center;
            margin-bottom: 20px;
            margin-top: 45px;
            color: midnightblue;
            font-size: 30px;
            color: deeppink;
            

        }

        .about{
            background: white;
            border-radius: 12px;
            padding: 15px 20px;
            margin-left: 15px;
            margin-right: 15px;
            font-size: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            max-width: 900px;
            margin: 20px auto;
            transition: 0.3s;
            

        }
        .about:hover{
            transform: scale(1.03);
            transform: translateY(-5px);
        }
        .skills{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap : 20px;
            font-size:15px;
            
            max-width: 900px;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
            
        }
        .container{
            background: white;
            border-radius: 10px;
            margin-left: 10px;
            text-align: center;
            padding: 15px 20px;
            margin-right: 8px;
            margin-top: 20px;
            box-shadow:0 0  10px rgba(0,0,0,0.1);
            transition: 0.3s;
           
           
        }
        .container:hover{
            transform: scale(1.03);
        }

        .projects{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap:20px;
            align-items: center;
            max-width: 900px;
            margin: 20px auto;
            
            
            


        }
        .p-container{
            font-size: 15px;
            background: white;
            border-radius: 10px;
            margin-left: 5px;
            margin-right: 5px;
            padding:20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            transition: 0.3s;
            margin-top: 25px;
            
            

            
            
        }
        .p-container:hover{
                transform: scale(1.03);
            }

        .c-container{
            background: midnightblue;
            margin-left: 10px;
            margin-right: 10px;
            padding:5px 5px;
            border-radius: 8px;
            font-size: 15px;
            color: white;
            text-align: center;
            margin-bottom: 27px;
            max-width: 900px;
            margin: 20px auto;
            transition: 0.3s;
        }
        .c-container:hover{
            transform: scale(1.03);
        }
        .footer{
            background: black;
            color: white;
            font-size: 15px;
            text-align: center;
            padding: 12px 12px;
            
        }
        .e-image{
            height: 8px;
            width: 12px;
            margin-right: 2px;
            
        }
        .p-image{
            height: 8px;
            width: 12px;
            margin-right: 2px;
           
        }
        .image{
            margin-bottom: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 5px solid red;
            width: 300px;
            height: 400px;
            box-shadow: 0 0 20px skyblue;
            transition: 0.4s;

           
        }
        .image:hover{
            transform: scaleX(1.08);
            box-shadow: 0 0 35px deepskyblue;
        }
         html{
                scroll-behavior: smooth;
            }
            .head{
                grid-column: 1 / -1;
                text-align: center;
                margin-top: 30px;
                color: blue;
                font-size: 20px;
            }
            .rl-p{
                color:darkblue;
            }




        @media(max-width:600px){
            nav{
                flex-direction: column;
                gap:20px;
            }
            nav ul{
                flex-wrap: wrap;
                justify-content: center;
                gap:15px;
            }
            .skills{
                display: grid;
                grid-template-columns: repeat(2,1fr);


            }
            .projects{
                grid-template-columns: 1fr;
                padding: 12px 0;
            }
            .section-title{
                margin-bottom: 25px;
            }
            .about{
                margin-top: 25px;
            }
            .container{
                margin-top: 15px;
            }
            .p-container{
                margin-left: 12px;
                margin-right: 12px;
            }
            .footer{
                margin-left: 15px;
                margin-right: 15px;
            }
            .c-container{
                margin-left: 15px;
                margin-right: 15px;
            }
            html{
                scroll-behavior: smooth;
            }
            section{
                scroll-margin-top: 95px;
            }
            .home{
                text-align: center;
            }
        }
        
        
    